<div class="container mx-auto p-6">
  <div class="mt-6">
    <%= link_to "←一覧に戻る", restaurants_path, class: "text-red-500 hover:underline" %>
  </div>

  <div class="flex items-center mb-4">
    <h1 class="text-3xl font-bold"><%= @restaurant.name %></h1>
    <%= render 'bookmark_buttons', restaurant: @restaurant %>
  </div>
  <p class="text-gray-700 mb-2"><%= @restaurant.address.presence || "住所情報なし" %></p>

  <div id="map" style="height: 400px;"></div>
  <script>
    function initMap() {
      const position = {
        lat: <%= @restaurant.latitude %>,
        lng: <%= @restaurant.longitude %>
      };

      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 16,
        center: position,
      });

      new google.maps.Marker({
        position: position,
        map: map,
      });
    }
  </script>

  <% if @restaurant.phone_number.present? %>
    <p class="mb-2">📞 <%= @restaurant.phone_number %></p>
  <% end %>
  <% if @restaurant.website.present? %>
    <p><%= link_to "公式サイトを見る", @restaurant.website, target: "_blank", class: "text-blue-500 underline" %></p>
  <% end %>
</div>